<%- include('./header', {title: title}) %>

<h1 class="mb-3">Книга: <%= findBook.title %></h1>

<div class="card">
  <div class="card-body">
    <%- include('./form.ejs', {findBook: findBook}) %> 
  </div>
  </div>
</div>
